<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <base href="/">
</head>
<body>
    <h1>New Student</h1>
    <hr />

    <form action="students/saveOrUpdate" method="post">
        Student ID: <input type="text" name="studentId" /> <br />
        Name: <input type="text" name="name" /> <br />

        <button>Save</button>
        <button formmethod="get" formaction="students/list">List</button>
        <button formmethod="get" formaction="students/search">Search</button>
    </form>
</body>
</html>